.countbody{
    background-color: whitesmoke;
}
.outerdiv{
display:flex;
flex-direction: row;
justify-content: space-around;
}
.innerdiv{
display:flex;
flex-direction: column;
text-align: center;
}
h2{
    font-size: 100px;
    font-weight: 800px;
    color:white;
}
.count{
    background-color: #b768a2;
    width:200px;
    height:200px;
    padding-top: 20px;
    
    border-radius: 50%;
    text-align: center;
    margin-bottom: 10px;
}
p{
    font-size: 20px;
    font-weight: 600;
}