.back{
    background-color: white;
    width:100%;
}
.unitimg{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 50px;
    height:400px;
     
}
.null2{
    height:200px;
    position:absolute;
    left:45%;
}
.uniting img{
   max-height:200px;
   max-width:200px;
  
}

.img1{
    position: absolute;
    left:3%;
    height:200px;
    /* animation-name: expand1;
    animation-duration:2s;
    animation-fill-mode: forwards; */
   
}
@keyframes expand1{
    0%{
       left:45%; 
    }
    100%{
        left:3%;
    }
}


.img2{
    position: absolute;
    left:31%;
    height:200px;
    /* animation-name: expand2;
    animation-duration:2s;
    animation-fill-mode: forwards; */
}
@keyframes expand2{
    0%{
       left:45%; 
    }
    100%{
        left:31%;
    }
}


.img3{
    position: absolute;
    left:56%;
    height:200px;
    /* animation-name: expand3;
    animation-duration:2s;
    animation-fill-mode: forwards; */
}
@keyframes expand3{
    0%{
       left:45%; 
    }
    100%{
        left:56%;
    }
}

.back2{
    display:none;
}
.img4{
    position: absolute;
    left:80%;
    height:200px;
    /* animation-name: expand4;
    animation-duration:2s;
    animation-fill-mode: forwards; */
}
@keyframes expand4{
    0%{
        left:45%;
    }
    100%{
        left:80%;
    }
}

@media(max-width:500px){
    .null2{
        display:none;
        position:static;
    }
    .back{
        display: none;
    }
    .back2 img{
      
       
    }
    .grid2{
        width:50vw;
        height:fit-content;
        mix-blend-mode: normal;
        border-radius: 50%;
        border:2px solid black;
    }
    .grid3{
        width:50vw;
        height:fit-content;
       
        mix-blend-mode: normal;
        border-radius: 50%;
        border:2px solid black;
    }
    .grid1{
        width:50vw;
        height:fit-content;
        mix-blend-mode: normal;
        border-radius: 50%;
        border:2px solid black;
    }
    .grid4{
        mix-blend-mode: normal;
        border-radius: 50%;
       
        border:2px solid black;
        width:50vw;
        height:50vw;
    }
   
    .back2{
       
        display:flex;
        height:230vw;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        
    }
    .back2 h1{
        font-size: 3rem;
    }
    
}