.body{
    display: flex;
    flex-direction: column;
    background-color: white;
   
}
.unittext{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 50%;
    margin-left: 25%;
    margin-top: 50px;
    margin-bottom: 50px;
}
.unittext p{
    /* margin-top: 50px; */
    padding-top: 0px;
    font-size: 18px;
    text-align: justify;
}
.h3{
    
    animation-name: expand1;
    animation-duration:2s;
    animation-fill-mode: forwards;
}
img{
    
    mix-blend-mode: multiply;
    filter: contrast(1);
        /*     
                max-height:300px;
                max-width: 300px; */
    
    
}
.textdiv img:hover{
   height:320px;
}

h1{
    color:purple
}
.null{
    height:0px;
    font-size: 0px;
}
.nullt{
   
    font-size: 0px;
}
.imgg1{
    height:300px;
    animation-name: expand11;
    animation-duration:2s;
    animation-fill-mode: forwards;
}
@keyframes expand11{
    0%{
        height:150px;
    }
    100%{
        height:200px;
    }
}
@keyframes expand1{
    0%{
       font-size:0px;
    }
    100%{
        font-size:18px;
    }
}

.imgg2{
   
    animation-name: expandd2;
    animation-duration:2s;
    animation-fill-mode: forwards;
}
@keyframes expandd2{
    0%{
        height:150px;
    }
    100%{
        height:200px;
    }
}


.imgg3{
  
    animation-name: expandd3;
    animation-duration:2s;
    animation-fill-mode: forwards;
}
@keyframes expandd3{
    0%{
        height:150px;
    }
    100%{
        height:200px;
    }
}
.text-centermob{
    display:none;
}
@media(max-width:500px){
   .body{
    width:100vw;
    /* border:2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* align-items: center; */
   }
   .body h1{
    font-size: 5rem;
   }
   .imgg1 .imgg2 .imgg3{
    animation-name: none;
   }
   .body img{
    display:block;
    height:300px;
    width:fit-content;
   }
   .text-centermob{
    display: block;
    /* text-align: center; */
    text-align: justify;
    margin:40px;
   }
   .textdiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   .unittext{
    display: none;
   }
}