.sch{
    font-size: 70px;
    color: purple;
    font-weight: 1000;
}
.sc{
    background-color: white;
    padding-top: 80px;
}
  .arrow {
    position: absolute;
    top: 105px;
    left: 68%;
    transform: translate(-50%, -50%);
    transform: rotate(270deg);
    cursor: pointer;
}

.arrow span {
    display: block;
    width: 2vw;
    height: 2vw;
    border-bottom: 5px solid rgb(0, 0, 0);
    border-right: 5px solid rgb(0, 0, 0);
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

.arrow1 {
    position: absolute;
    top: 105px;
    left: 31.45%;
    transform: translate(-50%, -50%);
    transform: rotate(90deg);
    cursor: pointer;
}

.arrow1 span {
    display: block;
    width: 2vw;
    height: 2vw;
    border-bottom: 5px solid rgb(0, 0, 0);
    border-right: 5px solid rgb(0, 0, 0);
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.arrow1 span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow1 span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    } 
}

.p1sc{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    text-align: left;
    font-family: montserrat;
    margin-left: 50px;
}

.pts1{
    font-size: 25px;
    margin-left: 100px;
    text-align: left;
    list-style-type: square;
    margin-bottom: 20px;
    /* font-weight: bold; */
}

.pts1 li{
    list-style-type: disc;
}
.ki{
    font-size: 30px;
    color: purple;
    font-weight: 10000;
    text-align: left;
    margin-left: 40px;
    margin-bottom: 20px;
}

.sch{
    font-size: 70px;
    color: purple;
    font-weight: 1000;
}
.sc{
    background-color: white;
    padding-top: 80px;
}
  .arrow {
    position: absolute;
    top: 15%;
    left: 68%;
    transform: translate(-50%, -50%);
    transform: rotate(270deg);
    cursor: pointer;
}

.arrow span {
    display: block;
    width: 2vw;
    height: 2vw;
    border-bottom: 5px solid rgb(0, 0, 0);
    border-right: 5px solid rgb(0, 0, 0);
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

.arrow1 {
    position: absolute;
    top: 15%;
    left: 31.45%;
    transform: translate(-50%, -50%);
    transform: rotate(90deg);
    cursor: pointer;
}

.arrow1 span {
    display: block;
    width: 2vw;
    height: 2vw;
    border-bottom: 5px solid rgb(0, 0, 0);
    border-right: 5px solid rgb(0, 0, 0);
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.arrow1 span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow1 span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

.p1{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bolder;
}

.pts1{
    font-size: 25px;
    margin-left: 100px;
    text-align: left;
    list-style-type: square;
    margin-bottom: 20px;
    /* font-weight: bold; */
}

.pts1 li{
    list-style-type: disc;
}
.ki{
    font-size: 30px;
    color: purple;
    font-weight: 10000;
    text-align: left;
    margin-left: 40px;
    margin-bottom: 20px;
}

