.of{
    float: left;
    margin-right: 20px;
    height: 500px;
    width: 500px;
}

.off{
    margin-bottom: 90px;
}

.sevs{
    /* text-align: center;  */
    font-family: 'Sarabun', sans-serif; 
     /* justify-content: center;  */
     background-color: white;
     /* width: 100vw; */
        }

        .my {
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            gap: 10px; /* Adjust the gap between columns */
            list-style-type: square;
        }

        @media(max-width: 600px) {
            .my {
                margin-left: 25px;
                grid-template-columns: repeat(1, minmax(0, 1fr));
                list-style-type: square;
               
            }
        }
