/* body {
    background-image: url("./images/rabi.webp");
    background-repeat: no-repeat;
    background-size: 95%;
  } */

.p111{
    width:70%;
}

.img{
    float: left;
    height: 200px;
    width: 200px    ;
}

.ank{
    width:700px;
    height: 240px;
    justify-content: center;
    align-items: center;
    float: left;
    margin-left: 200px;
}
.pras{
    width:700px;
    height: 240px;
    justify-content: center;
    align-items: center;
    float: right;
    margin-right: 50px;
}


.focus{
    margin-top: 550px;
}
.sch1{
    margin-top: 10px;
    font-size: 50px;
    color: purple;
    font-weight: 1000;
}

.arrow2 {
    position: absolute;
    top: 1.2%;
    left: 85%;
    transform: translate(-50%, -50%);
    transform: rotate(270deg);
    cursor: pointer;
}

.arrow2 span {
    display: block;
    width: 2vw;
    height: 2vw;
    border-bottom: 5px solid rgb(0, 0, 0);
    border-right: 5px solid rgb(0, 0, 0);
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.arrow2 span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow2 span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

.arrow3 {
    position: absolute;
    top: 1.2%;
    left: 14.4%;
    transform: translate(-50%, -50%);
    transform: rotate(90deg);
    cursor: pointer;
}

.arrow3 span {
    display: block;
    width: 2vw;
    height: 2vw;
    border-bottom: 5px solid rgb(0, 0, 0);
    border-right: 5px solid rgb(0, 0, 0);
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.arrow3 span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow3 span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

.p11{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bolder;
    margin-left: 50px;
    margin-right: 50px;
}
.p12{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
    text-align: left;
    font-weight: normal;
    margin-left: 50px;
    margin-right: 50px;
    width: 50%;
}

.container {
    position: relative;
    width: 500px;
  }
  
  .image {
    display: block;
    width: 500px;
    height: 500px;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #ffffff;
  }
  
  .container:hover .overlay {
    opacity: 0.7;
  }
  
  .text {
    color:srgb(0, 0, 0);
    font-size: 25px;
    position: absolute;
    top: 25%;
    /* left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
    text-align: center;
    font-weight: bolder;
  }

  .ki1{
    font-size: 40px;
    color: purple;
    font-weight: bolder;
    text-align: left;
    margin-left: 40px;
    margin-bottom: 20px;
}
.p11 img{
    float: right;
    height: 300px;
    width: 300 px;
}
