@tailwind base;
@tailwind components;
@tailwind utilities;


.home{
    /* background-image:
    linear-gradient(to right,rgb(23, 23, 23),rgba(70, 66, 66, 0.52), rgba(84, 83, 84, 0.73)), */
     background-color: whitesmoke;
    background-size: 100vw 650px;
    width:100%;
    height:650px;
    /* background-image: linear-gradient(to right, red , yellow); */
    opacity: 1;
    display:flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    font-size: 7rem;
    padding-bottom: 100px;
}
.wrapper{
  display:inline-flex;
  position:relative;
  top:140px;
  padding-left:20px;
 
  /* right:250px; */
  /* flex-direction: column; */
}
.logo{
  display:inline-flex;
  position:relative;
  top:150px;
  padding-right: 100px;
  /* left:250px; */
  /* flex-direction: column; */
}
.logo img{
  height:300px;
}
.wrapper .static-txts{
 color:rgb(214, 150, 214);
 display:flex;
 align-items: center;
 height:128.9px;
}
.wrapper .dynamic-txts{
   margin-left: 15px;
   height:130px;
   line-height: 130px;
   overflow:hidden;
   
  
}
/* .below{
  position:relative;
  top:300px;
  right:42%;
  
} */
.below{
 display:flex;
 flex-direction: column;
 padding-left: 20px;
 
}
/* .bbelow{
  position:relative;
  top:300px;
  right:35%;
  
} */
.below p{
  font-size: 30px;
}
.bbelow p{
  font-size: 30px;
}
.dynamic-txts li{
  list-style: none;
  position: relative;
  top:0;
  animation: slide 6s steps(3) infinite;
}
@keyframes slide{
  100%{
    top:-390px;
    
  }
}
span{
  color:purple
}
.dynamic-txts li span{
  position:relative;
  background:whitesmoke
}
.dynamic-txts li span::after{
  content:"";
  background:whitesmoke;
  position:absolute;
  left:0;
  height:100%;
  width:100%;
  border-left: 2px solid rgb(14, 5, 14);
  animation: typing 2s steps(200) infinite;
}
@keyframes typing{
  100%{
    left:100%;
    margin:0 -35px 0px 35px;
  }
}
h1{
    
    display:block;
    font-size:7rem;
    font-family: 'Cormorant Garamond', serif;
    color:rgb(215, 145, 215);
    
  }
  span{
    color:rgb(82, 49, 82)
   
  }
  .dk{
    width:100vh;
  }
  